.flex {
  display: flex;
}

.circle-icon {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  margin-right: 10px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
